.content, .login-input-group, form {
    position: relative
}

body {
    height: 100%;
    background-color: #f0f0f0
}

.login-header {
    margin: 0;
    line-height: 1;
    padding-bottom: 50px
}

.content {
    padding-top: 4.5%;
    height: 100%;
    min-height: 950px;
    overflow-x: hidden
}

.content3 {
    padding-top: 7%
}

.login-content {
    margin: 0 auto;
    width: 460px;
    height: 590px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1)
}

.login-main {
    margin: 49px auto 0;
    width: 334px
}

.login-title {
    margin-top: 0;
    margin-bottom: 11px;
    line-height: 1;
    font-size: 36px;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px
}

form {
    padding-top: 2px
}

.input-title {
    margin: 25px 0 10px;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 16px;
    color: #333
}

.forget-password a, .question, .warning {
    font-size: 12px
}

.input-title .signup {
    float: right;
    font-size: 12px;
    color: #666;
    margin-top: 3px
}

.input-title .signup a {
    color: #666;
    border-bottom: 1px solid #999
}

.input-title .signup a:active, .input-title .signup a:hover {
    color: #333;
    border-bottom: 1px solid #333
}

.login-input-group .input-fill {
    position: relative;
    overflow: hidden;
    border-radius: 3px
}

.warning, .warning:before {
    position: absolute;
    background-color: #eb3232
}

.email-signup {
    padding-left: 14px;
    padding-right: 24px;
    width: 100%;
    height: 42px;
    border: 1px solid #999;
    border-radius: 3px
}

.input-focus {
    border-color: #15A05D !important;
    outline: 0
}

.email-signup:focus {
    border-color: #15A05D;
    outline: 0
}

.warning {
    right: -20px;
    width: 180px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px;
    font-style: italic;
    letter-spacing: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity .1s, top .1s;
    visibility: hidden;
    opacity: 0;
    top: 90%
}

.warning-show {
    visibility: visible;
    top: 100%;
    opacity: 1
}

.warning-password {
    top: 55%
}

.warning-password-show {
    visibility: visible;
    top: 100%;
    opacity: 1
}

.warning:before {
    content: "";
    top: 0;
    right: 36px;
    width: 8px;
    height: 8px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}

.direct input, .icon-coding, .icon-weibo, .pro {
    position: relative
}

.warning-border {
    border-color: #eb3232
}

.forget-password {
    margin-top: 3px;
    text-align: right;
    color: #666;
    float: right
}

.forget-password a {
    letter-spacing: 1px;
    color: #666;
    line-height: 1.5px;
    border-bottom: 1px solid #999
}

.forget-password a:active, .forget-password a:hover {
    color: #2c2c2c;
    border-bottom: 1px solid #333
}

.login-sub {
    margin-top: 50px;
    padding-bottom: 12px
}

.login-sub button {
    font-size: 18px;
    width: 334px;
    height: 40px
}

.login-sub .btn:hover {
    background-color: #eb734b;
    border-color: #dc5528;
    color: #fff
}

.shadow {
    max-width: 100%;
    margin-top: 3px
}

.agree {
    margin: 0 0 0 -5%;
    letter-spacing: 0;
    color: #666;
    font-size: 13px;
    width: 110%
}

.agree .secrecy, .direct, .three-title {
    letter-spacing: 1px
}

.agree .secrecy {
    margin-top: 6px;
    font-size: 12px;
    color: #999
}

.others-login {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    margin-top: 20px
}

.three-title {
    color: #999;
    font-size: 16px;
    overflow: hidden
}

.three-title .line {
    display: inline-block;
    height: 20px;
    border-top: 1px solid #ccc;
    width: 140px;
    float: left;
    position: relative;
    top: 7.3px
}

.three-title .or {
    display: inline-block;
    float: left;
    width: 53px
}

.party-link {
    margin-top: 10px
}

.party-link .link {
    margin-right: 12px;
    margin-left: 12px
}

.icon {
    font-size: 26px;
    color: #999;
    transition: all 200ms ease-out
}

.icon:hover {
    opacity: 1;
    color: #333
}

.icon-coding {
    font-size: 32px;
    top: 4px
}

.icon-weibo {
    top: 3px;
    font-size: 30px
}

.link {
    border: none;
    background-color: transparent
}

.link:focus {
    outline: 0
}

.disabled, .disabled:hover {
    color: #ccc;
    border-color: #ccc;
    cursor: default;
    background-color: #fcfcfc
}

.direct input {
    top: 1.4px;
    margin-right: 3px
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important
}

@media screen and (max-width: 1440px) {
    .content {
        padding-top: 5%;
        min-height: 800px
    }

    .login-header {
        padding-bottom: 35px
    }
}

@media screen and (max-width: 767px) {
    .login-content, body {
        background: 0 0
    }

    .content {
        padding-top: 0;
        min-height: 670px
    }

    .login-header {
        display: none
    }

    .login-content {
        width: 90%;
        border: none;
        margin-top: 10px;
        box-shadow: none;
        -webkit-box-shadow: none
    }

    .login-main, .login-sub button {
        width: 100%
    }

    .login-title {
        padding-bottom: 38px
    }

    .three-title {
        margin: 20px auto 0
    }

    .three-title .line {
        width: 40%
    }

    .three-title .or {
        width: 20%
    }

    .party-link {
        margin-top: 20px
    }

    .party-link .link {
        margin-right: 20px;
        margin-left: 20px
    }

    .party-link-transform .wd-icon {
        opacity: 1
    }
}

@media screen and (max-width: 320px) {
    .login-content {
        width: 98%
    }

    .agree .secrecy {
        margin: 20px auto 0;
        width: 80%
    }
}